body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: white;
}

/* GLOBAL */

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.button-1{
    height: 38px;
    background: lightgrey;
    border: 0;
    padding-right: 10px;
}

ul .button-1{
   background: royalblue;
   padding: 15px;
}

.searchbar{
    height: 38px;
    width: 35%;
}

/* HEADER */

header ul{
    float: right;
    list-style: none;
}

header li{
    display: inline;
    padding: 0 10px 0 10px; 
    
}


/* SECTION */
.image{
    text-align: center;
    margin-top: 150px;
}

.links{
    text-align: center;
    border: 10em; 
}

.offers{
    text-align: center;
}


.offerlinks li{
    display: inline;
    padding: 5px;
}

li a{
    text-decoration: none;
}


/* FOOTER */
footer{
    padding: 5px;
    margin-top: 150px;
    color: black;
    background-color: lightgrey;
}

.adverts li{
    display: inline;
    padding: 5px;
}

.settings{
    float: right;
    margin-top:-40px;
}

.settings li{
    display: inline;
    padding: 5px; 
}

@media(max-width: 600px) {
    #showcase{
        width: 100%;
        float: none;
    }
}

    

